.hability {
    font-size: 2.5rem;
    font-weight: 300;
    // font-style: italic;
    color: $white-blue;
}

.hability--nodejs {
    color: green;
}

.hability--react {
    color: $normal-blue;
}

.hability--watchos {
    color: $watchOS;
}

.hability--tvos {
    color: $tvOS;
}

.hability--macos {
    color: $macOS;
}

.hability--ios {
    color: gray;
}


.blinking-underline {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
    color: white;
    font-weight: 900;
}

@keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }