.hability {
    font-size: 2.5rem;
    font-weight: bolder;
    // font-style: italic;
    color: $white-blue;

}

.hability--nodejs {
    color: green;
}

.hability--react {
    color: $normal-blue;
}

.hability--watchos {
    color: $watchOS;
}

.hability--tvos {
    color: $tvOS;
}

.hability--macos {
    color: $macOS;
}

.hability--ios {
    color: gray;
}