.aboutme__container{
    display: flex;
    border: 1px solid $dark-blue;
    margin-top: 200px;
    margin-left: calc(50% - 40%);
    font-size: 14px;
    flex-direction: column;
    flex-basis: 80%;
    flex-shrink: 1;
    flex-grow: 0;
    flex-wrap: wrap;
    color: $white-blue;
    padding: 47px 60px 0px;
    box-sizing: border-box;
}

.aboutme__intro{
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    flex-grow: 1;
}


.aboutme__intro__photo {
    height: 143px;
    width: 143px;
    background-image: url('images/me.JPG');
    border-radius: 50%;
    background-size: cover;
    border: 3px solid $dark-yellow;
    flex-shrink: 0;
    flex-grow: 0;
}

.aboutme__intro__description {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    text-align: center;
}

.aboutme__skills{
    display: flex;
    flex-direction: column;
}

.aboutme__skills__title{
    text-align: center;
    flex-direction: column;
    font-size: 14px;
    font-weight: 700;
    padding: 0;
    margin-top: 70px;
}

.aboutme__skills__title:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 103px; /* Change this to whatever width you want. */
    padding-top: 0px; /* This creates some space between the element and the border. */
    border-bottom: 2px solid $dark-yellow; /* This creates the border. Replace black with whatever color you want. */
}

.aboutme__skills__skill-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 88%;
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: 36px;
    justify-content: space-between;
}


@media screen and (max-width: 600px) {
    .aboutme__container{}
    .aboutme__intro{
        flex-direction: column;
    }
}