.app-container {
    background: linear-gradient( $darker-blue-opaque, $darker-blue-opaque ), url('images/bg.jpg');
    background-size: cover;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.app-container div {
    display: flex;
}

.container-component-container {
    display: flex;
    flex: 1;
    min-height: 0px; /* IMPORTANT: you need this for non-chrome browsers */
    max-width: 900px;
}

.overflow-container {
    display: flex;
    flex: 1;
    // overflow: auto;
}

#root {
    height: 100%;
}