.app-container {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.app-container div {
    display: flex;
}

.container-component-container {
    display: flex;
    // flex: 1;
    // min-height: 0px; /* IMPORTANT: you need this for non-chrome browsers */
    flex-basis: 1200px;
    flex-grow: 0;
    margin-left: calc(50% - 600px);
}

.overflow-container {
    display: flex;
    flex: 1;
    // overflow: auto;
}

#root {
    height: 100%;
}

@media screen and (max-width: 600px) {
    flex-basis: 80%;
    margin-left: calc(10%);
}