.landing-container {
    height: 100%;
    transition: opacity 3s ease-in-out;
    z-index: 1;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.landing-container--goaway{
    // transform: translate(calc(-100%));
    opacity: 0;
}


.my-name_container {
    flex-direction: column;
    margin-top: 10rem;
}

.my-name {
    font-size: $xl-size;
    font-weight: bolder;
    color: $white-blue;
    font-style: italic;
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.habilities-container {
    margin-top: $xxl-size;
    text-align: left;
    align-content: center;
    height: 10rem;
    width: 20rem;
    margin: $xl-size auto auto auto;
    flex-direction: column;
}

.developer {
    color: $white-blue;
    font-size: 2.5rem;
}

@media screen and (max-width:600px){
    .landing-container{
        margin-top: 40%;
    }
}